.forgotpass {
  padding: 8rem 6rem;
  text-align: center;
  color: var(--white);
  background-image: url("../assets/Forgotpassimg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pass {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.bckarrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.forgotemail {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.resetbtn {
  background-color: var(--orange);
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 0.3em;
}
.forgotinput {
  border-radius: 0.4em;
  color: black;
  padding-right: 6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.bckarrow{
  color: var(--orange);
}
@media (width>768px){
  .forgotinput {
    border-radius: 0.4em;
    padding-right: 10em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: black;
  }
}