.forgotpass {
    padding: 8rem 6rem;
    text-align: center;
    color: var(--white);
    background-image: url("../assets/Forgotpassimg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pass{
    display: flex;
    flex-direction: column;
  margin-top: 1em;
  }
  .bckarrow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
  .forgotemail{
    display: flex;
    flex-direction: column;
  }
  .forgotinput{
    border-radius: 0.4em;
    padding: 0.4em 1em;
    color: black;
  }