.studentSignup1 {
  padding: 8rem 6rem;
  text-align: center;
  color: var(--white);
  background-image: url("../assets/loginbackgroundImg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.studentform2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-container {
  position: relative;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-toggle {
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  color: black;
  margin-top: 0.8em;
}

.studentform3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.studentform3 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1em;
}

.studentinput2,
.studentinput3 {
  width: 100%;
  border-radius: 0.4em;
  padding: 0.4em 0.7em;
  color: black;
}

.formbtn1 {
  color: var(--white);
  background-color: var(--orange);
  padding: 0.4em 8.6em;
  border-radius: 0.5em;
  border: none;
  width: 100%;
}
.btnss {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.studentSignup1 {
  padding: 4rem 2rem;
}

.socials {
  display: flex;
  gap: 1.2em;
  align-items: center;
  justify-content: center;
}
.tinylogin {
  color: var(--orange);
}
.forgotpassword {
  color: var(--orange);
  margin-top: 0.8em;
}
.tick {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.tick1 {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  justify-content: center;
}
@media (width > 768px) {
  .studentform3 {
    display: flex;
    gap: 1em;
    width: 35%;
  }
  .studentinput3 {
    width: 90%;
  }
  .formbtn1 {
    color: var(--white);
    background-color: var(--orange);
    padding: 0.4em 11.5em;
    border-radius: 0.5em;
    border: none;
    width: 100%;
  }
  .studentinput2,
  .studentinput3 {
    width: 100%;
    border-radius: 0.4em;
    padding: 0.4em 1em;
    color: black;
  }
}
