.heroContact {
  padding: 8rem 6rem;
  text-align: center;
  color: var(--white);
  background-image: url("../assets/Hero-Section-contactus.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.explore {
  display: none;
}

@media (width > 768px) {
  .heroContact {
    background-image: url("../assets/Hero-Section-contactus.png");
  }
  .explore {
    display: block;
    max-width: 50ch;
    margin: 0 auto;
  }
  .touch {
    display: none;
  }
}
