.About {
    display: flex;
    gap: 1.5em;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
  
  .About img {
    scroll-snap-align: center;
  }
  
  .About {
    scroll-behavior: smooth;
  }