.maincontainer {
  background-color: var(--green);
  color: white;
  padding: 2.5rem;
}
.innercontainer {
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 2%;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.socialmedia {
  display: flex;
  align-items: center;
  gap: 5%;
}
.contact img {
  width: 5%;
}
.followUs img {
  width: 10%;
}
.followUs {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.terms {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.resources {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.subscribe {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 40%;
}
.copyright {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.newsletter input {
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  border: 0;
  background-color: var(--green);
}
.LOGO {
  margin-bottom: 3rem;
}

.input-group {
  border: 1px solid white;
  background-color: white;
  padding: 0.2rem;
  display: flex;
  border-radius: 0.5rem;
}

.input-group input {
  border: 0px;
  flex: 2;
  background-color: whitesmoke;
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.input-group button {
  flex: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0;
  background-color: var(--orange);
  color: var(--white);
}
@media (width> 768px) {
  .innercontainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
}
